.header {
    display: flex;
    justify-content: space-between;
    padding: 2rem 3rem;
}

.menu {
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
}

li {
    padding: 0 0.8rem;
}
