.page_name {
    font-family: "Spectral", serif;
    color: black;
    margin-bottom: 1rem;
}

.btn {
    font-family: "Spectral", serif;
    width: 280px;
    height: 60px;
    margin-top: 0.5rem;
    line-height: 60px;
    color: #2c2c2c;
    border: 1px solid #f3f3f3;
    font-size: 12px;
    letter-spacing: 0.13em;
    text-align: center;
    transition: all 0s ease 0s, all 0.93s ease 0s;
}

.btn:hover {
    text-decoration: none;
    background: black;
    color: #fff;
    border: 1px solid black;
}
