.wrapper {
    position: relative;
    min-height: 100vh;
}

.nav {
    display: flex;
    position: fixed;
    z-index: 2;
    justify-content: space-between;
    padding: 2rem 3rem;
    width: 100%;
}

.nav a {
    color: black;
}

.title {
    font-size: 2rem;
}

.nav_toggle_btn {
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    font-size: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    display: none;
    cursor: pointer;
}

.nav_menu {
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
}

.nav_menu_item {
    padding: 0 0.8rem;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover {
    cursor: pointer;
}

.dropdown_content {
    display: none;
    position: absolute;
    padding: 5px;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: center;
}

.dropdown_content_item {
    margin-bottom: 4px;
    cursor: pointer;
}

.dropdown:hover .dropdown_content {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .nav {
        padding: 0.75rem 2rem;
        display: block;
        background-color: black;
    }
    .nav a {
        color: white;
    }

    .title {
        color: white;
    }

    .nav_toggle_btn {
        display: block;
        color: white;
    }

    .nav_menu {
        margin: auto;
        display: block;
        text-align: center;
        display: none;
        align-items: center;
        color: white;
    }

    .nav_menu_open {
        display: block;
        text-align: center;
        padding: 0 0;
    }

    .nav_menu_item {
        margin: 1rem 0;
    }
}
